.pixel-button {
	font-family: 'Press Start 2P', monospace;
	text-transform: uppercase;
	color: white;
	background-color: #1a1a1a;
	border: 4px solid #ffffff;
	padding: 12px 24px;
	cursor: pointer;
	box-shadow: 0 4px 0 #000, inset -2px -2px 0 #888, inset 2px 2px 0 #444;
	transition: all 0.1s ease-in-out;
	image-rendering: pixelated;
}

.pixel-button:hover {
	background-color: #333;
	box-shadow: 0 2px 0 #000, inset -1px -1px 0 #aaa, inset 1px 1px 0 #666;
}

.pixel-button:active {
	transform: translateY(2px);
	box-shadow: 0 0px 0 #000, inset 0 0 0 #000;
}

.main-menu-button {
	font-size: 50px;
}

.game-back-button,
.game-help-button {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game-back-button img {
    width: 20px;
    height: 20px;
}

.game-help-button img {
    width: 20px;
    height: 20px;
}
