.game-container {
	display: grid;
	grid-template-rows: 1fr 9fr;
	height: 100vh;
}

.game-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.game-mid {
	grid-column: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 30px;
	font-weight: 600;
	text-transform: capitalize;
}

.game-right {
	grid-column: 3 / 4;
	font-size: 20px;
}

.game-board {
	grid-row: 2 / 3;
	align-self: flex-start;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.hard {
	color: #ed7e77;
}

.medium {
	color: #ccc84b;
}

.easy {
	color: #82cc7e;
}

.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	grid-column: 1 / -1;
	justify-self: center;
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
