.game-container {
	display: grid;
	grid-template-rows: 1fr 9fr;
	min-height: 100vh;
}

.game-scoreboard {
	grid-column: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: 30px;
	font-weight: 600;
	text-transform: capitalize;
}

.game-difficulty {
	grid-column: 3 / 4;
	font-size: 20px;
}

.game-board {
	grid-row: 2 / 3;
	align-self: flex-start;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.hard {
	color: #ed7e77;
}

.medium {
	color: #ccc84b;
}

.easy {
	color: #82cc7e;
}