:root {
	--card-width: 100px;
	--card-border-radius: 8px;
}

.card {
	width: var(--card-width);
	height: 180px;
	perspective: 1000px;
	cursor: pointer;
	justify-self: center;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.card.flipped .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #333;
	border-radius: var(--card-border-radius);
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
	overflow: hidden;
}

.card-front {
	background-color: #fff;
	display: grid;
	grid-template-rows: 4fr 1fr;
}

.card-image {
	position: relative;
	height: 100%;
	overflow: hidden;
  	/* border-top-left-radius: var(--card-border-radius);
  	border-top-right-radius: var(--card-border-radius); */
}

.card-image img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	/* border-top-left-radius: var(--card-border-radius);
	border-top-right-radius: var(--card-border-radius); */
}

.card-footer {
	grid-row: 2 / 3;
	display: flex;
	align-items: center;
	background-color: rgba(43, 43, 43, 0.75);
	height: 100%;
	border-bottom-left-radius: var(--card-border-radius);
	border-bottom-right-radius: var(--card-border-radius);
}

.card-title {
	color: #fff;
	width: var(--card-width);
	font-size: 16px;
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-back {
	background-color: #1e1e1e;
	color: #fff;
	transform: rotateY(180deg);
}

.card-back-cover {
	width: 70%;
}
